name: pytest

on: [ pull_request ]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@master
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Set up environment variables
        run: |
          echo "DATABASE_URL=postgres://user:password@127.0.0.1:5432/testdb" >> $GITHUB_ENV
      - name: Run tests
        run: |
          sleep 30
          pytest
